.App {
  padding: 30px;
  display: flex;
}

.todoList {
  margin-right: 50px;
  border: black solid 2px;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(62,197,89,0.47);
  min-width: 300px;
}

.task {
  font-weight: bold;
}

.newTaskTitleInput {

}

.taskCompleted {
  text-decoration: line-through;
  opacity: 50%;
}

.filterBtnActive {
  background-color: chocolate;
  border-radius: 3px;
  border: chocolate solid 2px;
  color: white;
}

.errorNewTaskTitleInput {
  border: red 1px solid;
}

.error-message {
  color: red;
}